<div class="container">
  <div class="jumbotron">
    <h1>Simple Stock Info</h1>
    <p>Simple app to find stock symbols based on company name.</p>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
